<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- this will set the page title-->
{% block title %}Aufgabe{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
    <div class="container grid-1">
        <div class="showcase-text"></div>
        <div class="showcase-table card">
            <div>
                <h1>Aufgabe: {{aufgabe.Titel}}</h1>
                {{aufgabe.Aufgabe | safe}}
            </div>
            <hr>
            <div>
                <h1>Loesung:</h1>
                {{aufgabe.Loesung | safe}}
            </div>
        </div>
    </div>
</section>

{% endblock %}
