<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid-1" >
    <div class="showcase-text">
      <h1>Welcome<small> {{session.first_name}}</small> to Aufgaben und Loesungen</h1>
      {% if access_level == "full_access" %}
       <a href="/add_aufgabe" class="btn btn-success btn-outline">Add New Aufgabe</a>
       {% endif %}
    </div>
    <div class="showcase-table card table-responsive">
      {% if access_level == "full_access" %}
      <h3>You can add a new Aufgabe, edit, or also delete it</h3>
      
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Gebiet</th>
          <th>Date</th>
          <th>version</th>
          <th>Rechte</th>
          <th></th>
          <th></th>
        </tr>

        {% for aufgabe in aufgaben%}
        <tr>
          <td>{{aufgabe.Name}}</td>
          <td>{{aufgabe.Titel}}</td>
          <td>{{aufgabe.Gebiet}}</td>
          <td>{{aufgabe.ts}}</td>
          <td>{{aufgabe.version}}</td>
          <td>{{aufgabe.Rechte}}</td>
          <td>
            <a href="edit_aufgabe/{{aufgabe.ID}}" class="btn btn-default pull-right"
              >Edit</a
            >
          </td>
          <td>
            <form
              action="{{url_for('dashboard_views.delete_aufgabe', ID=aufgabe.ID)}}"
              method="POST"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
          </td>
        </tr>
        {%endfor%}
      </table>
        {%  elif access_level == "read_access" %}
          <h3>You can just read hier  Aufgaben and Loesungen </h3>
          <ul class="list-group">
            {% for aufgabe in aufgaben %}
            <li class="list-group-item ">
              <a href="aufgabe/{{aufgabe.ID}}" class="stretched-link">{{aufgabe.Titel}}</a>
            </li>
            {% endfor %}
          </ul>
        {%  else %}
          <h3> Unfortunately, you have no access to Aufgaben or Loesungen, Please connect to the Admin</h3>
      </div>
      {% endif %}
  </div>
</section>
{% endblock %}
