<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid-1">
    <div class="showcase-text">
      <h1>Dear {{session.first_name}}</h1>
      {% if access_level == "full_access" %}
        <h3>You can here add  a new Blatt, edit, or also delete it  </h3>
        <a href="/dashboard/veranstaltungs/blatt/add/{{blatt[0].Veranstaltung}}" class="btn btn-success btn-outline">Add New Blatt</a>
        {%  elif access_level == "read_access" %}
        <h3>You have only read access </h3>
        {%  else %}
          <h3> Unfortunately, you have no access to anything, Please connect to the Admin</h3>
      {% endif %}
    </div>
    <div class="showcase-table card table-responsive">  
      {% if access_level != "no_access" %}    
      <table class="table table-striped">
        <tr>
          <th>Nr</th>
          <th>Name</th>
          <th>Titel</th>
          <th>Ausgabe</th>
          <th>Abgabe</th>
          <th>Zusatz</th>
          <th>Stil</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for b in blatt%}
        <tr>
          <td>{{b.Nr}}</td>
          <td>{{b.Name}}</td>
          <td>{{b.Titel}}</td>
          <td>{{b.Ausgabe}}</td>
          <td>{{b.Abgabe}}</td>
          <td>{{b.Zusatz}}</td>
          <td>{{b.stil}}</td>
          <td><a href="/dashboard/veranstaltungs/blatt/print/{{ b.Veranstaltung}}/{{b.ID}}/1" class="btn btn-info pull-right btn-sm"
            >Print With Loesung</a></td>
          <td>
            <a href="/dashboard/veranstaltungs/blatt/print/{{ b.Veranstaltung}}/{{b.ID}}/0" class="btn btn-info pull-right btn-sm"
              >Print Just Aufgabe</a
            >
          </td>
          {% if access_level == "full_access" %}
            <td>
              <a href="/dashboard/veranstaltungs/blatt/edit/{{ b.Veranstaltung}}/{{b.ID}}" class="btn btn-primary pull-right">Edit</a>
            </td>
          {% endif %}
          <td>
            <form action="{{url_for('dashboard_views.delete_blatt', ID=b.ID, veranSt=b.Veranstaltung)}}" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
          </td>
        </tr>
        {%endfor%}
      </table>
    </div>
    {% endif %}
  </div>
</section>
{%endblock%}
