<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid-1">
    <div class="showcase-text">
      <h1>{{session.first_name}}'s Dashboard</h1>
      {% if access_level == "full_access" %}
      <h3>You have have full access</h3>
      {{msg}}
      <a href="/add_veranSt" class="btn btn-success btn-outline">Add New Veranstaltung</a>
      {%  elif access_level == "read_access" %}
          <h3>You have only read access </h3>
          {%  else %}
          <h3> Unfortunately, you have no access to anything, Please connect to the Admin</h3>
      {% endif %}
    </div>
    <div class="showcase-table card table-responsive">
      {% if access_level != "no_access" %}
      <table class="table table-striped">
        <tr>
          <th>Verantwortlich</th>
          <th>Mitarbeiter</th>
          <th>Titel</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          
        </tr>
        {% for v in veranSt %}
        <tr>
          <td>{{v.Verantwortlich}}</td>
          <td>{{v.Mitarbeiter}}</td>
          <td>{{v.Titel}}</td>
          <td>
            <a href="dashboard/veranstaltungs/users/{{v.ID}}" class="btn btn-info pull-right"
              >Users</a
            >
          </td>
          <td>
            <a href="dashboard/veranstaltungs/blatt/{{v.ID}}" class="btn btn-secondary pull-right"
              >Blatt</a
            >
          </td>
          {% if access_level == "full_access" %}
            <td>
              <a href="edit_veranSt/{{v.ID}}" class="btn btn-primary pull-right"
                >Edit</a
              >
            </td>
          {% endif %}
          <td>
            <form action="{{url_for('dashboard_views.delete_veranSt', ID=v.ID)}}" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
          </td>
        </tr>
        {%endfor%}
      </table>      
    </div>
    {% endif %}
  </div>
</section>


<hr>
{%endblock%}
