<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- this will set the page title-->
{% block title %}Edit Aufgabe{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid-1">
    <div class="showcase-text"></div>
    <div class="showcase-table card">
      <h1>Edit Aufgabe</h1>
      {% from "/includes/_formhelpers.html" import render_field %}
      <form method="POST" action="">
        <div class="form-group">
          {{ render_field(form.Name, class_="form-control") |safe }}
        </div>
        <div class="form-group">
          {{ render_field(form.Titel, class_="form-control") |safe }}
        </div>
        <div class="form-group">
          {{ render_field(form.Gebiet, class_="form-control") |safe }}
        </div>
        <div class="form-goup">
          {{ render_field(form.version, class_="form-control") |safe}}
        </div>
        <div class="form-group">
          {{ render_field(form.Aufgabe, class_="form-control", class="editor") }}
        </div>
        <div class="form-group">
          {{ render_field(form.Loesung, class_="form-control", class="editor") }}
        </div>

        <p><input class="btn btn-primary" type="submit" value="Submit" /></p>
      </form>

    </div>
  </div>
</section>
{% endblock %}
