<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- this will set the page title-->
{% block title %}Edit Vernastaltung{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid-1">
    <div class="showcase-text"></div>
    <div class="showcase-table card">
      <h1>Edit Vernastaltung</h1>
      {% from "/includes/_formhelpers.html" import render_field %}
      <form method="POST" action="">
        <div class="form-group">
          {{ render_field(form.Stil, class_="form-control")}}
        </div>
        <div class="form-group">
          {{ render_field(form.Verantwortlich, class_="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.Mitarbeiter, class_="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.Titel, class_="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.Kopftext, class_="form-control" ) }}
        </div>
        <div class="form-group">
          {{ render_field(form.Fusstext, class_="form-control" ) }}
        </div>
        <div class="form-group">
          {{ render_field(form.Kurztext, class_="form-control" ) }}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit" /></p>
      </form>
    </div>
  </div>
</section>
{% endblock %}
