<!-- to import the base template-->
{% extends "/layout.html" %}

<!-- the page title -->
{% block title %}Edit Blatt's Aufgaben{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="container">
  <h1>Edit Blatt's Aufgaben</h1>
  <form action="" id="edit-aufgaben-form">
    <div id="edit-aufgaben">
      <select
        id="select-aufgaben-edit"
        class="form-control selectpicker"
        data-live-search="true"
      >
        <option disabled hidden selected>Select Aufgaben ...</option>
      </select>
    </div>
    <div id="blatt_id_edit" data-blatt_id="{{ blattId }} "></div>
    <p>
      <input
        type="submit"
        id="submit-editd-aufgaben"
        class="btn btn-primary btn-block mt-5"
        value="Submit"
        |
        safe
      />
    </p>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Aufgabe</th>
        <th>Punkte</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="aufgaben-list-edit"></tbody>
  </table>
  {{res}}
</div>
{% endblock %}
