<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- this will set the page title-->
{% block title %}Edit Blatt{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div id="blatt_id" data-blatt_id="{{ request.form.blattId }} "></div>
<div id="veranstaltung" data-veranstaltung="{{ veranSt}} "></div>
<section class="showcase">
  <div class="container grid-1">
    <div class="showcase-text"></div>
    <div class="showcase-table card">
      <h1>Edit Blatt</h1>
      <form action="" method="POST" id="aufgaben_form">

        

        <div class="form-row">
          <div class="col-md-2 mb-4">
            <label for="numberOfBlatt">Nr</label>
            <input
              required
              id="Nr"
              class="form-control"
              type="number"
              name="Nr"
              value="{{request.form.Nr}}"
              placeholder="Nr"
            />
          </div>
          <div class="col-md-5 mb-4">
            <label for="nameOfBlatt">Name</label>
            <input
              required
              id="Name"
              class="form-control"
              type="text"
              name="Name"
              value="{{request.form.Name}}"
              placeholder="Name"
            />
          </div>
          <div class="col-md-5 mb-4">
            <label for="titleOfBlatt">Titel</label>
            <input
              required
              id="Titel"
              class="form-control"
              type="text"
              name="Titel"
              placeholder="Titel"
              value="{{request.form.Titel}}"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-4">
            <label for="ausgabeOfBlatt">Ausgabe</label>
            <input
              required
              id="Ausgabe"
              class="form-control"
              type="date"
              name="Ausgabe"
              value="{{request.form.Ausgabe}}"
            />
          </div>
          <div class="col-md-4 mb-4">
            <label for="AbgabeOfBlatt">Abgabe</label>
            <input
              required
              id="Abgabe"
              class="form-control"
              type="date"
              name="Abgabe"
              value="{{request.form.Abgabe}}"
            />
          </div>
          <div class="col-md-4 mb-4">
            <label for="StilOfBlatt">Stil</label>
            <input
              required
              id="Stil"
              class="form-control"
              type="number"
              name="Stil"
              placeholder="Stil"
              value="{{request.form.Stil}}"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-4">
            <label for="ZusatzOfBlatt">Zusatz</label>
            <input
              required
              id="Zusatz"
              class="form-control"
              type="text"
              name="Zusatz"
              placeholder="Zusatz"
              value="{{request.form.Zusatz}}"
            />
          </div>
          <div class="col-md-6 mb-4">
            <label for="aufgabenOfBlatt">Aufgaben</label>
            <select
              name="aufgaben"
              id="select_aufgaben"
              class="form-control"
              data-live-search="true"
            >
              <option disabled hidden selected>Select Aufgaben ...</option>
            </select>
          </div>
        </div>

        <!-- prettier-ignore -->
        <button
        type="submit"
        id="submit_blatt"
        class="btn btn-primary btn-block mt-5 mb-4">Submit</button>

        <div class="form-row">
          <div class="col-md-12 mt-6 table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Aufgabe</th>
                  <th>Punkte</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="aufgaben_list"></tbody>
            </table>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='dist/editBlatt.js') }}"></script>
{% endblock %}
