<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid-1">
    <div class="showcase-text">
      <h1>Dear {{session.first_name}}</h1>
      {% if access_level == "full_access" %}
      <h3>You can here add  a new User or remove  </h3>
       {%  elif access_level == "read_access" %}
          <h3>You have only read access </h3>
          {%  else %}
          <h3> Unfortunately, you have no access to anything, Please connect to the Admin</h3>
      {% endif %}
    </div>
    <div class="showcase-table card ">

        <div id="veranstaltung" data-veranstaltung="{{ veranSt_id}} "></div>
        
        <div class="col-md-12 mb-4">            
            <select
              required
              aria-required="true"
              name="user"
              id="select_user"
              class="form-control"
              data-live-search="true"
            >
              <option disabled hidden selected value=""
                >Assign To A User</option
              >
            </select>
          </div>
          <div class="flex">
            {% for user in veranSt_users%}
              <div class="card card-users ">
                <!-- <img class="card-img-top" ssrc="{{ url_for('static', filename='img/prof.jpeg') }}" alt="Card image"> -->
                <div class="card-body">
                  <h5 class="card-title">Name: {{user.first_name}} {{user.last_name}}</h5>
                  <p class="card-text">Department: {{user.dept}}</p>
                  <a  href="mailto:{{user.email}}">Email</a> 
                  <br>
                  <form action="{{url_for('dashboard_views.delete_veranSt_user', user_id=user.user_id, veranSt_id=user.veranSt_id)}}" method="POST">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="submit" value="Delete" class="btn btn-outline btn-danger mt-4">
                  </form>
                </div>
              </div>
            {%endfor%}
        </div>
      </div>
  </div>
</section>

  <!-- import the javascript file-->
  <script src="{{ url_for('static', filename='dist/veranStUsers.js') }}"></script>
{%endblock%}
