<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid-1">
    <div class="showcase-text">
      <h1>Welcome<small> {{session.first_name}}</small> to Admin Dashboard</h1>
    </div>
    <div class="showcase-table card table-responsive">
      <table class="table table-striped">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email </th>
          <th>Department</th>
          <th>Register Date</th>
          <th> </th>
          <th>Is Admin</th>
          <th>Access Level</th>
          <th></th>
        </tr>
        {% for user in users%}
        <tr>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td><a  href="mailto:{{user.email}}">Email</a></td>
          <td>{{user.dept}}</td>
          <td>{{user.register_date}}</td>
          <td>
              {% if user.is_admin %}
              Yes
              {% else %}
              NO
              {% endif %}
          </td>
          <td>
            <form action="{{url_for('admin_views.make_admin', id=user.id)}}" method="POST">
              <input type="hidden" name="_method" value="UPDATE" />
              <input type="submit" value="Admin" class="btn btn-success pull-right" />
      
            </form>
          </td>
          <td>
            <select
              name="aufgabe_access"
              id="{{user.id}}"
              class="form-control aufgabe_access"
            >
              <option value="full_access" >Full Access</option>
              <option value="read_access">Read Only</option>
              <option value="no_access">No Access</option>
            </select></td>
          <td>
            <form
              action="{{url_for('admin_views.delete_user', id=user.id)}}"
              method="POST"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
          </td>
        </tr>
        {%endfor%}
      </table>
    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='dist/admin.js') }}"></script>
{% endblock %}
