<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- this will set the page title-->
{% block title %}Login{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid">
    <div class="showcase-text">
    </div>
    <div class="showcase-form card">
      <h1>Please Login</h1>
      <form action="" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            class="form-control"
            value="{{request.form.email}}"
            id="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            value="{{request.form.password}}"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
