<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- this will set the page title-->
{% block title %}Register{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid">
    <div class="showcase-text">
    </div>
    <div class="showcase-form card">
      <h1>Please Register</h1>
      {% from "/includes/_formhelpers.html" import render_field %}
      <form method="POST" action="">
        <div class="form-group">
          {{render_field(form.first_name, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.last_name, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.email, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.dept, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.password, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.confirm, class_="form-control")}}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit" /></p>
      </form>
    </div>
  </div>
</section>


{% endblock %}
