<!-- to import a base template -->
{% extends "/layout.html" %}

<!-- prettier-ignore -->
{% block body %}
<section class="showcase">
  <div class="container grid">
    <div class="showcase-text">  
    </div>
    <div class="showcase-form card">
      <h2>Welcome To Adele 2</h2>
      
        {% if session.logged_in == NULL %}
          <a href="/register" class="btn btn-primary">Register</a>
          <a href="/login" class="btn btn-secondary">Login</a>
        {% endif %}
      
      
    </div>  
  </div>
</section>

{% endblock %}
