@import "config";

.navbar {
  margin-bottom: 0px !important;
  ul {
    a {
      color: #fff;
      font-size: 20px;
      padding: 10px;
      margin: 0 5px;
    }
    a:hover {
      border-bottom: 2px #fff solid;
    }
  }
}
