@import "config";

/* Showcase */

.showcase {
  margin-top: -15px;
  height: 400px;
  background-color: $primary-color;
  color: #fff;
  position: relative;

  h1 {
    font-size: 40px;
  }
  p {
    margin: 20px 0;
  }
  .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    grid-template-rows: auto;
    gap: 30px;
  }
  .grid-1 {
    overflow: visible;
  }

  .showcase-form {
    position: relative;
    top: 30px;
    height: 690px;
    width: 400px;
    padding: 20px;
    z-index: 100;
    justify-self: flex-end;
    a,
    h2 {
      margin: 20px;
    }
    // a {
    //   color: $primary-color;
    //   font-size: 20px;
    //   padding: 5px 10px;
    //   margin-left: 40px;
    //   text-decoration: none;
    // }
    // a:hover {
    //   border-bottom: 2px $primary-color solid;
    // }
  }
  .showcase-table {
    position: relative;
    top: 30px;
    height: auto;
    width: auto;
    padding: 20px;
    z-index: 100;
    justify-content: flex-end;
    .card-users {
      background-color: $dark-color;
      color: #fff;
      height: 290px;
      width: 290px;

      a {
        color: #fff;
        font-size: 20px;
        padding: 0 10px;
        margin: 0 5px;
        text-decoration: none;
      }
      a:hover {
        border-bottom: 2px #fff solid;
      }
    }
    .editor {
      height: 300px;
      width: 100%;
    }
    .aufgabe_access {
      padding: 10px 10px;
      cursor: pointer;
      background: $dark-color;
      color: #fff;
      height: 45px;
      width: fit-content;
      border-radius: 5px;
    }
  }
  .stretched-link {
    color: #0080ff;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
  }
  .stretched-link:hover {
    border-bottom: 2px #0080ff solid;
  }
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
}
