{% with messages = get_flashed_messages(with_categories=true) %}

<!-- prettier-ignore -->
{% if messages%}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
<!-- prettier-ignore -->
{% endif %} {% endwith %} 
{% if error %}
<div class="alert alert-danger">{{error}}</div>
{% endif %}
<!-- prettier-ignore -->
{% if msg %}
<div class="alert alert-success">{{msg}}</div>
{% endif %}
