<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="/">Home </a>
      </li>
     
      {% if session.logged_in %}

      <li class="nav-item">
        <a href="/dashboard" class="navbar-brand">Dashboard</a>
      </li>
      <li class="nav-item">
        <a href="/aufgaben_dashboard" class="navbar-brand">Aufgaben</a>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav">
      {% if session.logged_in %}
        {% if session.is_admin %}
        <li class="nav-item">
          <a href="/admin" class="navbar-brand">Admin</a>
        </li>
        {% endif %}
      <li class="nav-item"><a href="/logout" class="navbar-brand">Logout</a></li>
      {% else %}
      <li class="nav-item">
        <a href="/register" class="navbar-brand">Register</a>
      </li>
      <li class="nav-item"><a href="/login" class="navbar-brand">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
