<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script
      src="https://kit.fontawesome.com/50b413a105.js"
      crossorigin="anonymous"
    ></script>

    <!-- Custom CSS styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/main.css') }}"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <!-- prettier-ignore -->
    
    {% include '/includes/_navbar.html' %}
      {% include '/includes/_messages.html' %}
      <!-- prettier-ignore -->
      {% block body %}{% endblock%}
    

    <!-- prettier-ignore -->
  </body>
</html>
